:root{
    ---manha: #bee6ff;
    ---tarde: #ff8427;
    ---noite: #081c1d;
}

body{
    background-color: rgb(0, 110, 255);
    font: normal 1em arial;
}

header, footer{
    color: white;
    text-shadow: 3px 3px 10px black;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.408);
}

div{
    text-align: center;
    padding: 8px;
}

div img{
    border-radius: 50%;
}

footer{
    font-style: italic;
}